* {
    margin: 0;
    padding: 0;
}

.my-btn ~ .my-btn {
    margin-bottom: 0%;
}

.my-btn {
    margin-bottom: 20%;
    min-width: 250px;
}

.my-card {
    margin-top: 20%;
}

.card-content {
    margin: 20% auto;
}