* {
    margin: 0;
    padding: 0;
}

.my-btn ~ .my-btn {
    margin-bottom: 0%;
}

.my-btn {
    margin-bottom: 20%;
    min-width: 250px;
}

.my-rep-btn ~ .my-rep-btn {
    margin-bottom: 0;
    margin-top: 0;
}

.my-rep-btn {
    margin: 5%;
    min-width: 250px;
}

.my-card {
    margin-top: 25%;
    margin-bottom: 25%;
    height: 50%;
}

.rep-card {
    margin-top: 25%;
    margin-bottom: 25%;
    height: 50%;
    padding: 5%;
}

.my-card-content {
    margin: 20% auto;
}

.rep-card-content {
    width: 80%;
    margin: 0 auto;
}

.top-words {
    display: inline;
}

.upload-card {
    margin-top: 5%;
}

.upload-error {
    margin-top: 15px;
    color: #ef5350;
}

.rep-word-stats {
    display: inline;
    white-space: nowrap;
}

.top-clip{
    overflow: hidden;
    text-overflow: clip;
}

.rep-p,  .rep-num{
    float: left;
    width: 50%;
}

.rep-p {
    font-weight: 700;
    text-align: left;
}

.rep-num{
    text-align: right;
}

.rep-card-word-content {
    width: 80%;
    margin: 0 auto;
}

.top-words {
    display: inline;
}

.group-card {
    margin-top: 10%;
}

.group-card-content {
    margin: 3% 5%;
}

.group-card h6 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #26a69a;
}

td {
    text-align: center;
    vertical-align: top;
}

th {
    text-align: center;
    vertical-align: top;
}

.my-table thead {
    background-color: #4db6ac;
}

.table-container{
    height: 300px;
    overflow: auto;
}