<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select statistics</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script><body>



<select id="select_fac">
    {% for fac in faculties %}
        <option>{{ fac }}</option>
    {% endfor %}
</select>
<select id="select_dep">
    {% for dep in departments %}
        <option>{{ dep }}</option>
    {% endfor %}
</select>
<select id="select_cour">
    {% for cour in courses %}
        <option>{{ cour }}</option>
    {% endfor %}
</select>

<h3> Here will be data</h3>
<div id="data"></div>
<h3>{{msg}}</h3>

<script>
        function get_data() {
            $.ajax({
                type: "POST",
                url: "/groups_stat",
                data: {
                    'faculty' : $('#select_fac').children("option:selected").val(),
                    'department' : $('#select_dep').children("option:selected").val(),
                    'course' : $('#select_cour').children("option:selected").val(),
                },
                type: 'POST',
                success: function(response) {
                    console.log(response);
                    var json = jQuery.parseJSON(response);1
                    $('#data').text(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        $(document).ready(function() {
            get_data();
        });
        $('#select_fac').change(function() {
            get_data();
        });
        $('#select_dep').change(function() {
            get_data();
        });
        $('#select_cour').change(function() {
            get_data();
        });

</script>


</body>
</html>