<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col"></div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="card white h-100 my-card">
                    <div class="my-card-content">
                        <button class="btn-large waves-effect waves-light my-btn" onclick="window.location='/upload';">Загрузить отчет</button>
                        <br>
                        <button class="btn-large waves-effect waves-light my-btn" onclick="window.location='/groups';">Просмотр статистики</button>
                        <div class=" mbtn-group" style="padding-top: 17%;">
                            <input id="fileInput" type="file" style="display:none;" />

                            <form action="/import" method="post" enctype="multipart/form-data">
                                <input id="file" type="file" name=file onchange="this.form.submit();" style="display: none"/>
                                <input type="button" value="Импорт" onclick="document.getElementById('file').click();" class="btn-large waves-effect waves-light grey darken-2 mbtn" />
                            </form>
                            <a class="btn-large waves-effect waves-light grey darken-2 mbtn" role="button" href="/export" download="db_export.json">Экспорт</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>