<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика студента: {{ person }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col"></div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 center-align">
                <div class="card white h-100 person-card" style="margin-top: 5%;">
                    <div class="person-card-content">
                        <div class="home-span" style="margin-top: 15px; margin-right: -25px;">
                            <i class="material-icons"
                                onclick="window.location='/'">home</i>
                        </div>
                        
                        <div class="rep-card-word-content">
                            <h6 class="person-name">{{ person }}</h6>

                            <div class="rep-word-stats"><p class="rep-p">Словарный запас:</p> <p class="rep-num">{{ total_person_stat['total_unique_words'] | round(2, 'common')}}</p></div>
                            
                            <div class="rep-word-stats"><p class="rep-p">Слов в среднем:</p> <p class="rep-num">{{ total_person_stat['avg_total_words'] | round(2, 'common')}}</p></div>

                            <div class="rep-word-stats"><p class="rep-p">Уникальных слов в среднем:</p> <p class="rep-num">{{ total_person_stat['avg_unique_words'] | round(2, 'common')}}</p></div>

                            <div class="rep-word-stats"><p class="rep-p">Процент уникальных слов в среднем:</p> <p class="rep-num">{{ total_person_stat['avg_persent_unique_words'] | round(2, 'common')}}</p></div>

                            <div class="rep-word-stats"><p class="rep-p">Символов в среднем:</p> <p class="rep-num">{{ total_person_stat['avg_total_raw_symbols'] | round(2, 'common') }}</p></div>
                            
                            <div class="rep-word-stats"><p class="rep-p">Всего загружено отчетов:</p> <p class="rep-num">{{ total_person_stat['total_reports_loaded'] | round(2, 'common') }}</p></div>

                            <h6 style="font-size: 1.5em;">Отчеты</h6>
                        </div>
                            <div class="person-table-cont">
                                <table class="table table-hover table-bordered my-table">
                                    <thead>
                                        <tr>
                                            <th>Название</th>                                                
                                            <th>Всего слов</th>
                                            <th>Уникальных слов</th>                                                
                                            <th>Процент уникальных слов</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for report in report_stat %}
                                            <tr onclick="window.location='/groups/{{ group_num }}/{{ person }}/{{ report['id'] }}'">
                                                <td>
                                                    {{ report['title'] }}
                                                </td>
                                                <td>
                                                    {{ report['total_words'] }}
                                                </td>
                                                <td>
                                                    {{ report['total_unique_words'] }}
                                                </td>
                                                <td>
                                                    {{ report['persent_unique_words'] | round(2, 'common') }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <button class="waves-effect waves-light btn-large" style="margin: 10px;"
                            onclick="window.location='/groups/{{ group_num }}'">К группе</button>  
                        </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

</body>
</html>