<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic for report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col"></div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 center-align">
                <div class="card white h-100 rep-card">
                    <div class="rep-card-content">
                        <div class="home-span" style="margin-top: 15px; margin-right: -25px;">
                            <i class="material-icons"
                                onclick="window.location='/'">home</i>
                        </div>
                        <div class="rep-card-word-content">
                            <div class="rep-word-stats"><p class="rep-p">Всего символов:</p> <p class="rep-num">{{ data['symbols']['total_raw_symbols'] }}</p></div>
                            <div class="rep-word-stats"><p class="rep-p">Слов:</p> <p class="rep-num">{{ data['words']['total_words'] }}</p></div>
                            <div class="rep-word-stats"><p class="rep-p">Уникальных слов:</p> <p class="rep-num">{{ data['words']['total_unique_words'] }}</p></div>
                            <div class="rep-word-stats"><p class="rep-p">Процент уникальных слов:</p> <p class="rep-num">{{ data['words']['persent_unique_words'] | round(2, 'common') }}</p></div>
                            <div class="rep-word-stats"><p class="rep-p">Топ-слова:</p> 
                                <div class="rep-num top-clip tooltipped" data-position="top"
                                    data-tooltip="{% for word in data['words']['most_popular_words'][:4] %}
                                                        {{ word[0] }},
                                                   {% endfor %}
                                                   {{ data['words']['most_popular_words'][4][0] }}"
                                >
                                    {% for word in data['words']['most_popular_words'][:4] %}
                                        <div class="top-words" href="">{{ word[0] }}, </div>
                                    {% endfor %}
                                    {{ data['words']['most_popular_words'][4][0] }}
                                </div>
                            </div>
                        </div>
                        <button class="btn-large waves-effect waves-light my-rep-btn" onclick="window.location='/upload';">Загрузить еще</button><br>
                        <button class="btn-large waves-effect waves-light my-rep-btn" onclick="window.location='/groups';">Просмотр статистики</button>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/report_stat.js"></script>

</body>
</html>