<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic for report</title>
</head>
<body>
<div> Слов: {{ data['total_words'] }}</div>
<div> Уникальных слов: {{ data['total_unique_words'] }}</div>
<div> Процент: {{ data['persent_unique_words'] }}</div>
<div> Количество каких-то символов: {{ data['total_raw_symbols'] }}</div>
<div> Количество еще каких-то символов: {{ data['total_clean_symbols'] }}</div>

<button onclick="window.location='/upload';">Загрузить еще</button><br>
<button onclick="window.location='/select';">Просмотр статистики</button>

</body>
</html>